.logo {
  width: 72px;
  object-fit: contain;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 550px) {
  .headerBar {
    margin-bottom: 48px;
  }
}
